/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #fdf6ee;
  color: #4e342e;
  line-height: 1.6;
}

/*back button*/

#back-btn {
  padding: 0.65rem 1rem;
  background-color: #fdf6ee;
  color: #8b5e3c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
/* Lock background when modal is open */
body.modal-open {
  overflow: hidden;
}

/* Animation */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#pay-btn {
  animation: pulse 2s infinite;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cart-item {
  animation: slideInLeft 0.5s ease forwards;
}

.bounce-btn:hover {
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.cart-item {
  transform: translateX(-20px);
  opacity: 0;
  animation: slideIn 0.4s forwards;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.qty.updated {
  animation: pop 0.3s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
